{% extends '_base.html' %}

{% block content %}
<div class='container'>

    <div class='row mt-5'>
        <div class='col text-center'>
            <h1>Simple Football Manager</h1>
            <p>{{ user.email }}</p>
            <p>Reputation: {{ user.reputation }}</p>
        </div>
    </div>


    <div class='row mt-5'>
        <div class='col'>

            <h3 class='mt-2'>Challenge selection</h3>

            <ul class="nav nav-tabs mt-4" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active text-dark" id="challenge-tab" data-toggle="tab" href="#challenge" role="tab" aria-controls="challenge" aria-selected="true">1. Select challenge</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <!-- Select Challenge -->
                <form method='post' class='mt-4'>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type='submit' class='btn btn-dark' value='Select challenge!'/>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
