{% extends '_base.html' %}
{% block content %}
<div class='container'>

    <!-- General info -->
    <div class='row mt-5'>
        <div class='col text-center'>
            <h1>Simple Football Manager</h1>
            <p>{{ user.email }}</p>
            <p>Reputation: {{ user.reputation }}</p>
            <p class='font-weight-bold'>Stage: Preseason</p>
        </div>
    </div>

    <!-- Stage management -->
    <div class='row mt-5'>
        <div class='col'>

            <h3 class='mt-2'>Challenge selection</h3>

            <ul class="nav nav-tabs mt-4" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active text-dark" id="challenge-tab" data-toggle="tab" href="#challenge" role="tab" aria-controls="challenge" aria-selected="true">1. Challenge info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" id="reputation-tab" data-toggle="tab" href="#reputation" role="tab" aria-controls="reputation" aria-selected="true">2. Challenge performance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" id="budget-tab" data-toggle="tab" href="#budget" role="tab" aria-controls="budget" aria-selected="false">3. Budget management</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">

                <!-- Challenge -->
                <div class="tab-pane fade show active" id="challenge" role="tabpanel" aria-labelledby="challenge-tab">
                    <p class='mt-4'>Season budget</p>
                    <p class='mt-4'>Available cash</p>
                    <p class='mt-4'>Challenge target</p>
                    <p class='mt-4'>Challenge difficulty</p>
                </div>

                <!-- Reputation -->
                <div class="tab-pane fade" id="reputation" role="tabpanel" aria-labelledby="reputation-tab">

                    <p class='mt-4'>Ok example: <strong>7</strong> <span class='small'>[target 6]</span></p>
                    <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                    <p class='mt-4'>Not ok example: <strong>2</strong> <span class='small'>[target 7]</span></p>
                    <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                </div>

                <!-- Budget -->
                <div class="tab-pane fade" id="budget" role="tabpanel" aria-labelledby="budget-tab">
                    <p class='mt-4'>Budget form</p>
                    <button class='btn btn-dark' disabled>Play next stage!</button>
                </div>

            </div>
        </div>
    </div>
 
</div>
{% endblock content%}
