{% extends '_base.html' %}

{% block title %}SFM | Simple Football Manager{% endblock title %}

{% block content %}
<div class='container'>

    <div class='row mt-5'>
        <div class='col text-center'>
            <h1>Simple Football Manager</h1>
            <p>{{ user.email }}</p>
            <p>Reputation: {{ user.reputation }}</p>
            <p>Select a challenge to start playing</p>
            <a class='btn btn-dark' href={% url 'challenge_selection' %}>Go!</a>
        </div>
    </div>
   
</div>
{% endblock content %}
